header {
  padding: 100px 0;
}

p {
  font-size: 1.4rem;
}

h1 {
  font-size: 52px;
  margin: 0;
}

svg {
  align-self: center;
  margin-right: 10px;
}

img {
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 750px) {
  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
