footer {
  margin-top: 4rem;
  padding: 1rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08);
}

p {
  font-size: 0.9rem;
  color: #111;
  text-align: center;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #a94e76;
  border-bottom: 1px dashed #a94e76;
}
