* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #f7fafc;
  color: #2d3748;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.btn {
  font-size: 1rem;
  color: #38b2ac;
}

.btn-external {
  color: #4299e1;
}

.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}
